<!DOCTYPE html>
<html>
<head>
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="/static/log.css">
</head>
<body>
    <h2>Đăng nhập</h2>
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Tên đăng nhập" required>
        <input type="password" name="password" placeholder="Mật khẩu" required>
        <button type="submit">Đăng nhập</button>
        <a class="lk" href="{% url 'register' %}">Đăng ký</a>
    </form>
    
</body>
</html>
